<!DOCTYPE html>
<!--/このタグ内はアンギュラー/-->
<html ng-app="sample">

<head lang="ja">
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.js"></script>
  <script src="app2.js"></script>

  <title>SampleXX</title>
</head>

<body>
<div ng-controller="SampleController as ctrl">

    <input type="button" ng-click="ctrl.hide()" value="非表示にする">

    <div ng-show="ctrl.aaa">
        名前候補:
        <input type="button" ng-click="ctrl.setName('sakamoto','ryuta')" value="ryuta sakamoto">
        <input type="button" ng-click="ctrl.setName('kitagawa','itaru')" value="itaru kitagawa">
    </div>

First Name<input type="text" ng-model="ctrl.first">
<br/>
Last Name<input type="text" ng-model="ctrl.last">
<br/>
<br/>
    Hello,{{ctrl.first}} {{ctrl.last}}
  </div>
</body>

</html>
